.container {
    border: black 1px solid;
    margin-bottom: 5vh;
    height: 86vh;
    display: flex;
}

.category {
    border: black 1px solid;
    width: 25%;
}

.main {
    border: black 1px solid;
    width: 50%;
}